<div class="container">
    <mat-card>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Тип велосипеда" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Матеріал" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="тип гальм" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ціна" type="number" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Країна виробник" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="адреса фото" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Короткий опис"></textarea>
        </mat-form-field>
    
        <button mat-button>Добавити новий товар</button>
    </mat-card>


  
  
  
</div>