.example-card {
  max-width: 400px;
}
.example-h2 {
  margin: 10px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 10px;
}
.container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 100%;
}
.container .filter {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.container .filter p {
  color: red;
}
.container .items-wrap {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .items-wrap .items {
  margin: 20px;
}
.container .items-wrap .items .card img {
  width: 300px;
}
