.example-form {
  min-width: 100px;
  max-width: 540px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.container {
  position: absolute;
  left: 50%;
  top: calc(50% + 50px);
  transform: translate(-50%, -50%);
  width: 640px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  justify-content: space-around;
}
.container .close {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../../../assets/image/header/btn-close.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
}
.container .close:hover {
  transform: rotate(180deg);
  transition: .5s;
}
