<div class="container">
   
  <div class="main-foto"></div>

  <div class="aboutUs">
    <div class="aboutUs-description">
      <h3>Про нас </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo maiores suscipit itaque voluptatibus voluptate obcaecati veniam, quibusdam excepturi ut doloribus placeat corporis aliquid reiciendis, esse necessitatibus, officiis sit nulla ab.</p>
    </div>
    <div class="aboutUs-photo"></div>
  </div>
  <div class="aboutUs">
    <div class="aboutUs-photo2"></div>
    <div class="aboutUs-description">
      <h3>Про нас </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo maiores suscipit itaque voluptatibus voluptate obcaecati veniam, quibusdam excepturi ut doloribus placeat corporis aliquid reiciendis, esse necessitatibus, officiis sit nulla ab.</p>
    </div>
  </div>


<div class="footer"><ul>
  <li><img src="" alt=""></li>
  <li><img src="" alt=""></li>
  <li><img src="" alt=""></li>
  <li><img src="" alt=""></li>
</ul></div>

</div>